* {
  padding: 0;
  margin: 0;
}
html, body, .wp, .wp-inner{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}
html, body {
  background: #ffffff;
}

.page, #scene, #scene2,  #scene3, #scene4, #scene5, #scene6, #scene7, #scene8, #scene9, #scene10, #scene11, #scene12, #scene13, #scene14 {
  width: 100%;
  height: 100%;
  position: relative;
}
#bg-scene > .nf {
  width: 128.33px;
  height: 250px;
  /* background-color: #cccccc; */
  background-image: url('../images/bg/n5.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 3px;
  left: 8px;
}
#bg-scene > .left-icon {
  width: 106.25px;
  height: 50px;
  /* background-color: #cccccc; */
  background-image: url('../images/one/logo1.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 20px;
  left: 20px;
}

#bg-scene > .right-icon {
  width: 123.3px;
  height: 25px;
  /* background-color: #cccccc; */
  background-image: url('../images/one/logo2.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 30px;
  /* left: calc(100% - 143.3px); */
  right: 20px;
}
.bg .left-logo {
  width: 65.75px;
  height: 36px;
  background-image: url('../images/one/logo1.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 10px;
  right: 110px;
}
.bg  .right-logo {
  width: 74px;
  height: 15px;
  background-image: url('../images/one/logo2.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 20px;
  right: 20px;
}
#scene > .ball {
  width: 200px;
  height: 200px;
  /* background-color: red; */
  background-image: url('../images/one/ball.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: calc(100% - 125px) !important;
  left: -75px !important;
}
#scene2 > .yuan {
  width: 230px;
  height: 230px;
  /*background-color: red;
  */background-image: url('../images/bg/yuan.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 145px !important;
  left: -60px !important;
  animation: change 4s linear infinite;
  -webkit-animation: change 4s linear infinite;
}
#scene2 > .yuan-right {
  width: 140px;
  height: 150px;
  /*background-color: red;
  */background-image: url('../images/two/555.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 270px !important;
  right: -10px !important;
}
#scene2 .bar, #scene3 .bar, #scene4 .bar, #scene5 .bar,  #scene6 .bar {
  width: 212.34px;
  height: 300px;
  /* background-color: red; */
  background-image: url('../images/bg/bar.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: calc(100% - 280px) !important;
  left: -25px !important;
}
#scene2 .bar-t, #scene3 .bar-t,  #scene4 .bar-t {
  width: 137px;
  height: 300px;
  /* background-color: red; */
  background-image: url('../images/bg/bar-t.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: -28px !important;
  right: -25px !important;
}
#bg-scene > .right-ball {
  width: 180px;
  height: 157px;
  /* background-color: blue; */
  background-image: url('../images/one/six1.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: calc(100% - 170px) !important;
  left: calc(100% - 120px) !important;
  animation: change 8s linear infinite;
  z-index: 200;
}
#bg-scene > .center-invite-text {
  width: 285px;
  height: 50px;
  /* background-color: #03f; */
  background-image: url('../images/one/desc.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 60px;
  left: 50% !important;
  /* margin-top: 100px; */
  margin-left: -142.5px;
}

 #bg-scene > .mid-ball {
  z-index: 200;
  width: 100px;
  height: 90px;
  /* background-color: yellowgreen; */
  background-image: url('../images/one/six3.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: calc(100% - 90px) !important;
  left: calc(100% - 210px) !important;
  animation:change 4s linear infinite;
}

#scene > .center-invite-bg {
  width: 140px;
  height: 175px;
  /* background-color: #f90; */
  background-image: url('../images/one/text-bg.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -87.5px;
  margin-left: -70px;
}
#scene > .center-invite {
  width: 142.4px;
  height: 160px;
  /* background-color: red; */
  background-image: url('../images/one/invite.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -80px;
  margin-left: -71.2px;
}
#scene > .center-invite >.center-invite-en {
  width: 115px;
  height: 15px;
  /* background-color: red; */
  background-image: url('../images/one/invitation.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  left: 95px;
  bottom: 38px;
}

#scene > .center-invite-text {
  width: 285px;
  height: 50px;
  /* background-color: #03f; */
  background-image: url('../images/one/desc.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: 100px;
  margin-left: -142.5px;
}

@keyframes change {
  0% {transform:rotate(0deg)}
  50% {transform:rotate(180deg)}
  100% {transform:rotate(360deg)}
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  background-image: url(../images/bg/scene-bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  -webkit-transition: background-image 200ms ease-in 200ms;
  -o-transition: background-image 200ms ease-in 200ms;
  transition: background-image 200ms ease-in 200ms;
  -moz-transition: background-image 200ms ease-in 200ms;
  -ms-transition: background-image 200ms ease-in 200ms;
}
.wp {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
}
.two1 {
  width: 200px;
  height: 80px;
  /* background-color: #03f; */
  background-image: url('../images/two/1.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -130px;
  margin-left: -150px;
}
.three {
  width: 131.85px;
  height: 150px;
  /* background-color: #03f; */
  background-image: url('../images/bg/n5.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -125px;
  margin-left: -125px;
}
.three1 {
  width: 160px;
  height: 60px;
  /* background-color: #03f; */
  background-image: url('../images/three/nlc.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -70px;
  margin-left: -45px;
}
.three2 {
  width: 300px;
  height: 120px;
  /* background-color: #03f; */
  background-image: url('../images/three/cc.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -10px;
  margin-left: -150px;
}
.two2 {
  width: 200px;
  height: 80px;
  /* background-color: #03f; */
  background-image: url('../images/two/2.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -40px;
  margin-left: -100px;
}


.two3 {
  width: 200px;
  height: 80px;
  /* background-color: #03f; */
  background-image: url('../images/two/3.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: 60px;
  margin-left: -50px;
}


.f1 {
  width: 150px;
  height: 50px;
  background: url('../images/4/41.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -120px;
  margin-left: -75px;
}



.f2 {
  width: 194.5px;
  height: 50px;
  background: url('../images/4/42.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -40px;
  margin-left: -97.25px;
}


.f3 {
  width: 280px;
  height: 50px;
  background: url('../images/4/43.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: 40px;
  margin-left: -140px;
}

.y1 {
  width: 253px;
  height: 230px;
  background: url('../images/bg/li-f.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 145px !important;
  left: -60px !important;
}

.y1-right {
  width: 114.75px;
  height: 150px;
  background: url('../images/bg/li-r.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 270px !important;
  right: -10px !important;
}
#bg-scene>.center-invite-text.t100 {
  top: 100px !important;
}
.bg .left-logo.t50 {
  top: 50px !important;
  right: 50%;
  margin-right: 10px; 
}
.bg .right-logo.t60 {
  top: 60px !important;
  right: 50%;
  margin-right: -80px; 
}
.fi0 {
  width: 300px;
  height: 140px;
  background: url('../images/bg/5nhsnf2.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 175px !important;
  right: 50%;
  margin-right: -150px; 
}

.fi1 {
  width: 175px;
  height: 50px;
  background: url('../images/5/51.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 220px !important;
  left: 70px;
}
.fi2 {
  width: 175px;
  height: 50px;
  background: url('../images/5/52.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 270px !important;
  right: 60px;
  /* margin-right: -158px;  */
}
.fi3 {
  width: 260px;
  height: 50px;
  background: url('../images/5/53.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 335px !important;
  right: 50%;
  margin-right: -130px; 
}
.fi4 {
  width: 223px;
  height: 80px;
  background: url('../images/5/54.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 405px !important;
  right: 50%;
  margin-right: -111.5px; 
}

.s0 {
  width: 300px;
  height: 195px;
  background: url('../images/6/60.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 175px !important;
  right: 50%;
  margin-right: -150px; 
}
.s1 {
  width: 175px;
  height: 55px;
  background: url('../images/6/61.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 240px !important;
  left: 80px;
}
.s2 {
  width: 175px;
  height: 50px;
  background: url('../images/6/62.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 300px !important;
  right: 40px;
  /* margin-right: -158px;  */
}
.s4 {
  width: 246px;
  height: 80px;
  background: url('../images/6/63.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 365px !important;
  right: 40px;
}
.inner7 {
  height: 100%;
  padding: 140px 40px 0px;
  box-sizing: border-box;
}
.pli {
  height: 25%;
  display: flex;
  border-bottom: 15px transparent solid;
  box-sizing: border-box;
}
.pli-l {
  flex: 2;
  height: 100%;
  border-top: 15px transparent solid;
  box-sizing: border-box;
  border-bottom: 15px transparent solid;
}
.pli-r {
  flex: 1;
  height: 100%;
}
.pli1 {
  background: url('../images/7/t1-x.png') no-repeat;
  background-size: contain;
  border: none;
}
.pli12{
  background: url('../images/7/t1.png') no-repeat;
  background-size: 100% auto;
}
.pli2 {
  background: url('../images/7/t2-x.png') no-repeat;
  background-size: contain;
}
.pli22{
  background: url('../images/7/t2.png') no-repeat;
  background-size: 100% auto;
}
.pli3 {
  background: url('../images/7/t3-x.png') no-repeat;
  background-size: contain;
}
.pli32{
  background: url('../images/7/t3.png') no-repeat;
  background-size: 100% auto;
}
.pli4 {
  background: url('../images/7/t4-x.png') no-repeat;
  background-size: contain;
}
.pli42{
  background: url('../images/7/t4.png') no-repeat;
  background-size: 100% auto;
}
.inner8 {
  /* height: 100%;
  margin-top: 160px;
  padding: 0px 40px 50px 40px;
  overflow: auto;
  position: relative; */
  height: 100%;
  padding: 150px 40px 30px 40px;
  box-sizing: border-box;
}
.in160 {
  height: 160px;
  width: 100%;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.eli {
  /* height: 60px; */
  height: 16.6666%;
  display: flex;
  /* margin-bottom: 15px; */
  border-bottom: 15px transparent solid;
  box-sizing: border-box;
}
.eli-l {
  /* width: 80px; */
  flex: 1;
  height: 100%;
}
.eli-r {
  border-top: 10px transparent solid;
  border-bottom: 10px transparent solid;
  box-sizing: border-box;
  flex: 2;
  height: 100%;
}
.eli1{
  background: url('../images/8/e1.png') no-repeat;
  background-size: auto 100%;
}
.eli12x{
  background: url('../images/8/e1-x.png') no-repeat;
  background-size: contain;
}
.eli2{
  background: url('../images/8/e2.png') no-repeat;
  background-size: auto 100%;
}
.eli22{
  background: url('../images/8/e2-x.png') no-repeat;
  background-size: contain;
}
.eli3{
  background: url('../images/8/e3.png') no-repeat;
  background-size: auto 100%;
}
.eli32{
  background: url('../images/8/e3-x.png') no-repeat;
  background-size: contain;
}
.eli4{
  background: url('../images/8/e4.png') no-repeat;
  background-size: auto 100%;
}
.eli42{
  background: url('../images/8/e4-x.png') no-repeat;
  background-size: contain;
}
.eli5{
  background: url('../images/8/e5.png') no-repeat;
  background-size: auto 100%;
}
.eli52{
  background: url('../images/8/e5-x.png') no-repeat;
  background-size: contain;
}
.eli6{
  background: url('../images/8/e6.png') no-repeat;
  background-size: auto 100%;
}
.eli62{
  background: url('../images/8/e6-x.png') no-repeat;
  background-size: contain;
}
.eli7{
  background: url('../images/8/e7.png') no-repeat;
  background-size: auto 100%;
}
.eli72{
  background: url('../images/8/e7-x.png') no-repeat;
  background-size: contain;
}
.eli8{
  background: url('../images/8/e8.png') no-repeat;
  background-size: auto 100%;
}
.eli82{
  background: url('../images/8/e8-x.png') no-repeat;
  background-size: contain;
}
.eli9{
  background: url('../images/8/e9.png') no-repeat;
  background-size: auto 100%;
}
.eli92{
  background: url('../images/8/e9-x.png') no-repeat;
  background-size: contain;
}
.eli10{
  background: url('../images/8/e10.png') no-repeat;
  background-size: auto 100%;
}
.eli102{
  background: url('../images/8/e10-x.png') no-repeat;
  background-size: contain;
}
.eli11{
  background: url('../images/8/e11.png') no-repeat;
  background-size: auto 100%;
}
.eli112{
  background: url('../images/8/e11-x.png') no-repeat;
  background-size: contain;
}
.eli12{
  background: url('../images/8/e12.png') no-repeat;
  background-size: auto 100%;
}
.eli122{
  background: url('../images/8/e12-x.png') no-repeat;
  background-size: contain;
}
.eli13{
  background: url('../images/8/e13.png') no-repeat;
  background-size: auto 100%;
}
.eli132{
  background: url('../images/8/e13-x.png') no-repeat;
  background-size: contain;
}
.eli14{
  background: url('../images/8/e14.png') no-repeat;
  background-size: auto 100%;
}
.eli142{
  background: url('../images/8/e14-x.png') no-repeat;
  background-size: contain;
}
.eli15{
  background: url('../images/8/e15.png') no-repeat;
  background-size: auto 100%;
}
.eli152{
  background: url('../images/8/e15-x.png') no-repeat;
  background-size: contain;
}
.eli16{
  background: url('../images/8/e16.png') no-repeat;
  background-size: auto 100%;
}
.eli162{
  background: url('../images/8/e16-x.png') no-repeat;
  background-size: contain;
}
.eli17{
  background: url('../images/8/e17.png') no-repeat;
  background-size: auto 100%;
}
.eli172{
  background: url('../images/8/e17-x.png') no-repeat;
  background-size: contain;
}
.eli18{
  background: url('../images/8/e18.png') no-repeat;
  background-size: auto 100%;
}
.eli182{
  background: url('../images/8/e18-x.png') no-repeat;
  background-size: contain;
}

.pp1 {
  width: 94px;
  height: 40px;
  background: url('../images/9/91.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 120px !important;
  right: 40px;
}
.pp2 {
  width: 94px;
  height: 40px;
  background: url('../images/9/92.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 165px !important;
  right: 50%;
  margin-right: -50px;
}

.pp3 {
  width: 214.4px;
  height: 16px;
  background: url('../images/9/93.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 200px !important;
  right: 50%;
  margin-right: -107.2px;
}

.pp4 {
  width: 66px;
  height: 15px;
  background: url('../images/9/94.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 225px !important;
  right: 50%;
  margin-right: -33px;
}

.pp5 {
  width: 131.2px;
  height: 20px;
  background: url('../images/9/95.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 250px !important;
  right: 50%;
  margin-right: -65.6px;
}
.pp6 {
  width: 223.6px;
  height: 200px;
  background: url('../images/9/96.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 278px !important;
  right: 50%;
  margin-right: -111.8px;
}
.pp7 {
  width: 156px;
  height: 50px;
  background: url('../images/9/97.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 490px !important;
  right: 50%;
  margin-right: -78px;
}
.uu1 {
  width: 194px;
  height: 20px;
  background: url('../images/10/101.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 170px !important;
  right: 50%;
  margin-right: -97px;
}
.uu2 {
  width: 300px;
  height: 140px;
  background: url('../images/10/102.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 220px !important;
  right: 50%;
  margin-right: -150px;
}
.uu3 {
  width: 164px;
  height: 20px;
  background: url('../images/10/103.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 385px !important;
  right: 50%;
  margin-right: -82px;
}

.uu4 {
  width: 185.16px;
  height: 20px;
  background: url('../images/10/104.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 430px !important;
  right: 50%;
  margin-right: -92.58px;
}

.uu5 {
  width: 145.6px;
  height: 35px;
  background: url('../images/10/105.png') no-repeat;
  background-size: 100% auto;
  position: absolute !important;
  top: 470px !important;
  right: 50%;
  margin-right: -72.8px;
}

.diqiu {
  width: 286px;
  height: 200px;
  background-image: url('../images/10/666.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute !important;
  top: 230px !important;
  right: -80px !important;
}